*{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
}
.gridbox
{
   display: grid;
   grid-template-columns:100px 100px 100px;


}
.gridexpand
{
    grid-column:span 3;
}
.flexbox
{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.txtclass
{
    text-align: right;
}